<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://bradleysandersonknightpath.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/21bbf717-94b8-4111-bbf8-679764a2f81f/resourceGroups/KnightPath20240311165103ResourceGroup/providers/Microsoft.Web/sites/BradleySandersonKnightPath</ResourceId>
    <UserName>$BradleySandersonKnightPath</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://bradleysandersonknightpath.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>